@model BlogPostDTOModel
@{
    ViewData["Title"] = "Add Blog Post";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<p>
    <a asp-area="" asp-controller="Blog" asp-action="Index">Blog Home</a>
</p>
<br>
@using (Html.BeginForm("CreatePost", "Blog", FormMethod.Post, new { @class= "form-horizontal", id="create-blog-post-form" }))
{

<div class="row">
    <label for="posttitle" class="control-label">Post Title:</label>
    @Html.TextBoxFor(model => model.PostTitle, new { @class="form-control", id="posttitle" })
    @Html.ValidationMessageFor(model => model.PostTitle, "", new { @class = "text-danger" })
</div>
<div class="row">
    <label for="postbody" class="control-label">Post Body:</label>
    @Html.TextAreaFor(model => model.PostBody, new { @class="form-control", id="postbody" })
    @Html.ValidationMessageFor(model => model.PostBody, "", new { @class = "text-danger" })
</div>
<br>
<div class="row">
    <div class="col-xs-6">
        <button id="btn-Create-Post" class="btn btn-primary" type="submit">
            <span class="glyphicon glyphicon-user"></span> Add New Post
        </button>
    </div>
</div>
}
