@model BlogPostDTOModel
@{
    ViewData["Title"] = "Add Blog Post";
}

<!-- Blog breadcrumb navigation -->
<br><br>
<ol class="breadcrumb">
  <li><a asp-area="" asp-controller="Blog" asp-action="Index">Blog Home</a></li>
  <li class="active">Add New Post</li>
</ol>

<h2><span class="glyphicon glyphicon-plus"></span> @ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

@using (Html.BeginForm("CreatePost", "Blog", FormMethod.Post, new { @class= "form-horizontal", id="create-blog-post-form" }))
{


    <label for="posttitle" class="control-label">Post Title:</label>
    @Html.TextBoxFor(model => model.PostTitle, new { @class="form-control", id="posttitle" })
    @Html.ValidationMessageFor(model => model.PostTitle, "", new { @class = "text-danger" })

    <label for="postbody" class="control-label">Post Body:</label>
    @Html.TextAreaFor(model => model.PostBody, new { @class="form-control", id="postbody" })
    @Html.ValidationMessageFor(model => model.PostBody, "", new { @class = "text-danger" })

    <br>

    <button id="btn-Create-Post" class="btn btn-primary" type="submit">
        <span class="glyphicon glyphicon-plus"></span> Add New Post
    </button>
}
