@model BlogListPostsViewModel
@{
    ViewData["Title"] = "All Posts";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<p>
    <a asp-area="" asp-controller="Blog" asp-action="Index">Blog Home</a> | 
    <a asp-area="" asp-controller="Blog" asp-action="AddPost">Add New Post</a> | 
    <a asp-area="" asp-controller="Blog" asp-action="ListUsers">View All Users</a>
</p>
@if(Model.ListOfPosts.Count ==0)
{
    <p>There are no posts in the system. You should make one! :)</p>
}
else
{
    <p>All posts:</p>
    @foreach(BlogPostDTOModel post in Model.ListOfPosts)
    {
        <div class="row">
            @Html.ActionLink(@post.PostTitle, "GetPost", "Blog", new {id = @post.PostId}, null)
        </div>
    }
}
