@model BlogListUsersViewModel
@{
    ViewData["Title"] = "All Users";
}

<!-- Blog breadcrumb navigation -->
<br><br>
<ol class="breadcrumb">
  <li><a asp-area="" asp-controller="Blog" asp-action="Index">Blog Home</a></li>
  <li class="active">View All Users</li>
</ol>

<h2><span class="glyphicon glyphicon-list-alt"></span> @ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

@if(Model.ListOfUsers.Count ==0)
{
    <p>Uh oh, I couldn't retrieve any users. Is the server down? :(</p>
}
else
{
    <p>All Users:</p>
    @foreach(BlogUserDTOModel user in Model.ListOfUsers)
    {
        <p><span class="glyphicon glyphicon-user"></span> @Html.ActionLink(@user.UserName, "GetUser", "Blog", new {id = @user.UserId}, null)</p>
    }
}
